@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-size: auto;
    font-weight: auto;
  }
  /* 
  :root {
    --background: 56 76% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 8% 91%;
    --card-foreground: 233 14% 85%;

    --border: 233 14% 85%;
  } */

  :root {
    --background: 42 80% 95%; /* warm, soft beige instead of cold blue */
    --foreground: 222.2 47% 11%; /* darker and a bit less saturated for contrast */

    /* --card: 42 60% 98%; /* warm off-white for cards 
    --card-foreground: 210 20% 85%; */
    /* --card: 240 10% 12%;         
    --card-foreground: 210 20% 85%; */
    --card: 4 9% 95%;
    --card-foreground: 0 3% 88%;
    --border: 222 30% 80%; /* subtle neutral for borders */
  }

  [data-theme='dark'] {
    --background: 0 20% 6%;
    --foreground: 210 40% 98%;

    --card: 0 7% 9%;
    --card-foreground: 30 1% 13%;

    --border: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.placeholder-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.placeholder-icon-wrapper svg {
  width: 100%;
  height: 100%;
}
