@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: 56 76% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 8% 91%;
    --card-foreground: 233 14% 85%;

    --border: 233 14% 85%;
  }

  [data-theme='dark'] {
    --background: 0 0% 4%;
    --foreground: 210 40% 98%;

    --card: 200 6% 10%;
    --card-foreground: 210 14% 14%;

    --border: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
